.containerLogin {
	border: 2px solid white;
	background: var(--bg-color-component);
	padding: 80px;
	border-radius: 10px;
	max-width: 480px;
	margin: 0px auto;
}

.containerLogin form label {
	display: none;
}

.containerLogin form {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr;
}

.containerLogin form input {
	border-radius: 10px;
	padding: 12px 8px;
	border: 1px solid white;
	caret-color: white;
	color: white;
}

.containerLogin form input[type="text"],
input[type="password"] {
	border-radius: 10px;
	padding: 12px 8px;
	background: var(--bg-color-iten);
	border: 1px solid white;
}

.actionButtonPrimary {
	background: var(--bg-color-hover);
	color: white;
	cursor: pointer;
	width: 100%;
}

.actionButtonPrimary:hover {
	background: var(--bg-color-hover-filled);
}

.actionButtonSecondary {
	cursor: pointer;
	width: 100%;
	color: black !important;
}

.actionButtonSecondary:hover {
	background: grey;
}