# Ignorar diretórios de sistema
.DS_Store
Thumbs.db

# Ignorar diretório de vendor do Composer
/vendor/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de cache
/cache/*
!.gitkeep

# Ignorar arquivos de configuração do IDE
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar arquivos temporários
*.tmp
*.temp

# Ignorar arquivos de backup
*~
*.bak
*.swp

# Ignorar arquivos de ambiente
.env
