.containerPerfil {
	border: 2px solid white;
	background: var(--bg-color-component);
	padding: 80px;
	border-radius: 10px;
	width: fit-content;
	margin: 20px auto 0px auto;
}

.containerPerfil form label {
	display: none;
}

.containerPerfil form {
	display: grid;
	gap: 20px;
}

.containerPerfil form input {
	border-radius: 10px;
	padding: 12px 8px;
	border: 1px solid white;
	caret-color: white;
	color: white;
}

.containerPerfil form input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
	border-radius: 10px;
	padding: 12px 8px;
	background: var(--bg-color-iten);
	border: 1px solid white;
}

.actionButtonPrimaryC {
	background: var(--bg-color-hover);
	cursor: pointer;
	grid-area: button1;
}

.actionButtonPrimaryC:hover {
	background: var(--bg-color-hover-filled);
}

.actionButtonSecondaryC {
	cursor: pointer;
	color: black !important;
	grid-area: button2;
	width: 100%;
}

.linkButton {
	grid-area: linkButton;
}

.actionButtonSecondaryC:hover {
	background: grey;
}

.formGridPerfil {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	grid-template-areas:
		"title title"
		"inputUsername inputNomeCompleto"
		"inputEmail inputEmail"
		"inputSenha inputCelular"
		"inputCpf inputCpf"
		"button1 button1"
		"linkButton linkButton";
	width: 100%;
	max-width: 600px;
}

.visuallyHidden {
	display: none;
}

.titlePerfil {
	grid-area: title;
}

.inputUsername {
	grid-area: inputUsername;
}

.inputSenha {
	grid-area: inputSenha;
}

.inputRepeatSenha {
	grid-area: inputRepeatSenha;
}

.inputNomeCompleto {
	grid-area: inputNomeCompleto;
}

.inputEmail {
	grid-area: inputEmail;
}

.inputCpf {
	grid-area: inputCpf;
}

.inputCelular {
	grid-area: inputCelular;
}