.carrinho-container {
	padding: 20px;
}

.carrinho-titulo {
	padding: 10px;
}

.selecionar {
	height: 70vh;
	padding: 20px;
	margin: 0px 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 10PX;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.selecionar li:hover {
	background-color: var(--bg-color-hover);
}

.passo {
	border-radius: 10px;
	padding: 12px 8px;
	border: 1px solid white;
	background-color: var(--bg-color-component);
}