body{
    margin: 0px;
    padding: 0px;
}

.menu{
    background-color: #1A1A1D;
}

body header {
    padding: 0px;
}

.menu-content{
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px;
}

.navbar-nav {
    margin: 0;
}